@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.autocomplete-active {
	color: blueviolet;
	text-align: center;
	background-color: aliceblue;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #353535;
	/* background-color: black; */
	font-family: 'Open Sans';
	color: white;
	border: none;
	font-size: 15px;
}

#container {
	background-color:#a5a5a5;
	width: 375px;
	height: 100vh;
	margin: 0 auto;
	border-radius: 5px;
}

h2 {
	font-size: 32px;
}

section {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.flex-button {
	padding-top: 10px;
	/* display: flex; */
}

select {
	background-color: white;
	height: 35px;
}

.add {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 100%;
	color: black;
	height: 20px;
	width: 20px;
	border: none;
	cursor: pointer;
}


p {
	padding-bottom: 10px;
}

span {
	color: black
}

.selecionados {
	background-color: bisque;
	cursor: pointer;
	padding: 5px;
	border: none;
	margin-right: 5px;
	margin-top: 5px;
}

.selecionados:hover {
	background-color: #ff6b5c;
}

#e-selecionados {
	border-radius: 20%;
}

.autocomplete-items {
	position: absolute;
	color: black;
	background-color: bisque;
	width: 80px;
	text-align: center;
}

#mercado .autocomplete-items {
	width: 175px;
}

#stacks .autocomplete-items {
	width: 175px;
}

.tag-items {
	border: 5px black;
	padding: 2px 0 2px 0;
}

.tag-items:hover {
	color: black;
	text-align: center;
	background-color: aliceblue;
	cursor: pointer;
}

/* .tag-items:focus-visible {
	color: blueviolet;
	text-align: center;
	background-color: aliceblue;
	cursor: pointer;
}
 */
#submit {
	margin-left: 30px;
	margin-top: 10px;
	padding: 5px;
}
