body {
    background-color: bisque;
}

.container{
    
    width: 400px;
    padding-top: 30px;
    margin: auto;
}

/* autocomplete tagsinput*/
.label-info {
    background-color: #5bc0de;
    display: inline-block;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }
  

#selectors {
    background-color: #6277e5;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}

.name-box {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
