[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
mysql-connector-python = "*"
fastapi = "*"
jinja2 = "*"
pytest = "*"
uvicorn = "*"
pandas = "*"
python-dotenv = "*"
pymysql = "*"
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
