[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
install = "*"
selenium = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
flake8 = "*"
boto3 = "*"
python-dotenv = "*"
sqlalchemy = "*"
pyarrow = "*"
unidecode = "*"
pip = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
