[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
pyarrow = "*"
boto3 = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
unidecode = "*"
flake8 = "*"
xavier-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"
