<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../static/js/startupbase.js?1" type="text/javascript"></script>
<html>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th style="text-align:center" colspan="2">StartupBase</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Estado </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td > Mercado </td>
                <td >
                    <input type="checkbox" name="agro" value="Agronegócio">
                    <label > Agronegócio</label>
                    <input type="checkbox" name="agro" value="Educação">
                    <label > Educação</label>
                </td>
            </tr>
            <tr>
                <td > Público Alvo </td>
                <td >
                    <input type="checkbox" name="B2B" value="B2B">
                    <label > B2B</label>
                    <input type="checkbox" name="B2BCD" value="B2BCD">
                    <label > B2BCD</label>
                </td>
            </tr>
            <tr>
                <td > Modelo de Receita </td>
                <td >
                    <input type="checkbox" name="Licenciamento" value="Licenciamento">
                    <label > Licenciamento</label>
                    <input type="checkbox" name="xxx" value="xxx">
                    <label > xxx</label>
                </td>
            </tr>
            <tr>
                <td > Momento </td>
                <td >
                    <input type="checkbox" name="SCALEUP" value="SCALEUP">
                    <label > Scaleup</label>
                    <input type="checkbox" name="xxx" value="xxx">
                    <label > xxx</label>
                </td>
            </tr>
            <tr>
                <td>                    
                    <button type="button" id="back" name="back" value="back" class="btn btn-block btn-info btn-lg">Back</button>
                </td>
                <td>
                    <button type="button" id="execute" name="execute" value="execute" class="btn btn-block btn-info btn-lg">Execute</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</html>

