<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="../static/js/action.js?3" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<html>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th style="text-align:center" colspan="2">Escolha a Tabela</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            <tr>
                <td>                 
                    <button type="button" id="StartupBase" name="StartupBase" value="StartupBase" class="btn btn-block btn-info btn-lg">StartupBase</button>
                </td>
                <td>
                    <button type="button" id="StackShare" name="StackShare" value="StackShare" class="btn btn-block btn-info btn-lg">StackShare</button>
                </td>
                <td>
                    <button type="button" id="Log" name="Log" value="Log" class="btn btn-block btn-info btn-lg">Log</button>
                </td>
            </tr>
        </tbody>
    </table>
</html>

